{% extends 'base.html' %}
{% block body %}
<div class='container'>
<style> 
div.dotted {
    border: 1px dotted #000;
    position: absolute;
}
</style>
<script>
	
var divs = [];

var newdiv;
function resetdiv() {
	newdiv = document.createElement("div");
	newdiv.id = "div" + divs.length;
	newdiv.className = "dotted";
	newdiv.hidden = 1;
}
resetdiv();
var x1 = 0, y1 = 0, x2 = 0, y2 = 0;
//document.getElementById("myButton").addEventListener("click", heloo);
function reCalc() { //This will restyle the div
    var x3 = Math.min(x1,x2); //Smaller X
    var x4 = Math.max(x1,x2); //Larger X
    var y3 = Math.min(y1,y2); //Smaller Y
    var y4 = Math.max(y1,y2); //Larger Y
    newdiv.style.left = x3 + 'px';
    newdiv.style.top = y3 + 'px';
    newdiv.style.width = x4 - x3 + 'px';
    newdiv.style.height = y4 - y3 + 'px';
}
onmousedown = function(e) {
    newdiv.hidden = 0;
    document.body.appendChild(newdiv);
    x1 = e.clientX; //Set the initial X
    y1 = e.clientY; //Set the initial Y
    reCalc();
};
onmousemove = function(e) {
    x2 = e.clientX; //Update the current position X
    y2 = e.clientY; //Update the current position Y
    reCalc();
};
onmouseup = function(e) {
    divs.push(newdiv);
	resetdiv();
    document.body.appendChild(newdiv);
};
onkeydown = function(e) {
	if(e.keyCode == 13) { //Enter
		//return divs to django??????
	} else if (e.keyCode == 8 && divs.length > 0) { //backspace divs is nonempty
		document.body.removeChild(divs.pop());
	}
};
</script>
</div>
{% endblock %}
